/* Setting Background Image for Tic Tac Toe Game Page */

body{
    background-image: url('Gif.gif');
}

/* Styling h1 Heading */

h1{

    text-align: center;
    color: #440047;
    font-family: 'Alata', sans-serif;
}

/* Styling Table */

table{
    
    margin: 20px auto;
}

/* Styling Columns of Table */

td{
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #2d4059;
    background-color: #fbecec;
}